header{
	height: 70px;
	background-color: #0b1a2e;
}
/* ヘッダーの紺色 */

header img{
	margin: 20px 90px 20px 150px;
	float: left;
}
/* ヘッダーロゴ */

body{
	background-color: #fafafa;
	width: 100%;
	font-family: "Garamond";
}
/* 全体の背景色 */

nav ul{
	margin-bottom: 26px;
	overflow: hidden;
}

nav ul li{
	font-size: 14px;
	float: left;
	width: 150px;
	margin-right: 10px;
	letter-spacing: 1px;
}

nav ul li a:link, nav ul li a:visited{
	color: #ddd;
	text-decoration: none;
	display: block;
	width: 150px;
	margin-top: 26px;
	font-family: arial;
}

nav ul li a:hover{
	color: #666;
}
/* 上メニュー */

.inner{
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
}
/* 全体の枠（w950） */

.reserve{
	background-color: #730927;
	height: 95px;
}
/* 予約背景色 */

.reserve dl{
	font-size: 12px;
	float: left;
	margin-left: 100px;
}

.reserve dl dt{
	color: #fff;
	font-family: "arial";
}

.reserve_img{
	display: block;
	float: right;
	margin-top: 26px;
	margin-right: 100px;
	display:block;
	width: 145px;
	height: 38px;
	background-image:url(../img/searchs.jpg);
}
/* 検索するボタン */

.reserve_img:hover{
	background-position:left bottom;
}
/* 検索するボタンは押すと色が変わる */

h2{
	font-size: 24px;
	color: #333;
	margin-top: 80px;
	margin-bottom: 45px;
	text-align: center;
	letter-spacing: 4px;
}
/* ようこそ！ */

.youkoso_text{
	font-size: 18px;
	color: #333;
	line-height: 2;
	text-align: center;
	margin-bottom: 80px;
}
/* 挨拶文 */

.style_texts{
	float: left;
}

.style_h3{
	font-size: 24px;
	color: #333;
	margin-top: 96px;
}
/* 宿泊スタイルから探す */

.style_text{
	font-size: 14px;
	margin-top: 18px;
	width: 240px;
	line-height: 20px;
}

.ichiran{
	margin-top: 75px;
}

.ichiran a{
	font-size: 12px;
	color: #ae1641;
	text-decoration: none;
	margin-left: 145px;
	font-family: monospace;
	letter-spacing: 1px;
	}
/* 一覧はこちら */

.waku{
	width: 626px;
	float: right;
	margin-top: 90px;
}

.hayawari{
	float: left;
	text-align: center;
	letter-spacing: 1.5px;
}
/* style 早割プラン */

.hayawari img{
	margin-bottom: 10px;
}

.kinen{
	float: left;
	margin-left:2px;
	text-align: center;
	letter-spacing: 1.5px;
}
/* style 記念日プラン */

.kinen img{
	margin-bottom: 10px;
}

.teiban{
	float: right;
	text-align: center;
	letter-spacing: 1.5px;
}
/* style 定番プラン */

.teiban img{
	margin-bottom: 10px;
}

.style_ul{
	font-size: 18px;
	float: right;
}

.style_ul ul li a{
	color: #333;
	text-decoration: none;
}

.enjoy{
	background-color: #0b1a2e;
	width: 1280px;
	height: 510px;
	margin-top: 75px;
	overflow: hidden;
}
/* ホテルの楽しみ方 */

.enjoy h3{
	color: #fff;
	font-size: 24px;
	text-align: center;
	letter-spacing: 4px;
	margin-top: 52px;
}

.enjoy_text{
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
	letter-spacing: 2px;
}

.kinenbi{
	margin-top: 40px;
	float: left;
	text-align: center;
}
/* enjoy 記念日 */

.kanpai{
	margin-top: 40px;
	float: left;
	text-align: center;
	margin-left: 14px;
}
/* enjoy 乾杯 */

.odaiba{
	margin-top: 40px;
	float: right;
	text-align: center;
}
/* enjoy お台場 */

.enjoy-red{
	background-color: #730927;
	width: 307px;
	height: 63px;
}

h4{
	padding-top: 10px;
}

h4 a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 2.5px;
	}
/* enjoy テキスト大 */

.enjoy-p_text{
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
	letter-spacing: 1px;
	color: #eae5e6;
}
/* enjoy　テキスト小 */

.news h3{
	margin-top: 60px;
	color: #555;
	font-size: 18px;
	letter-spacing: 4px;
	width: 175px;
	height: 122px;
	background-color: #dbdbdb;
	text-align: center;
	line-height: 7;
	float: left;
	margin-bottom: 40px;
}
/* お知らせ */

.news dt{
	clear: left;
	float: left;
	margin:0 0 0.8em;
	width: 8em;
	padding-left: 5px;
}

.news dd{
	margin-bottom: 0.8em;
	margin-left: 10em;
}

.news dl{
	color: #555;
	font-size: 12px;
	font-family:"Gulim";
	float: left;
	width: 733px;
	height: 92px;
	background-color: #fff;
	float: right;
	border: 1px solid #dbdbdb;
	line-height: 1.4;
	padding: 14px 20px;
	margin-top: 60px;
}
/* news 日付 */

.news dl dd a{
	color: #555;
	font-family:"arial";
	letter-spacing: 1.3px;
}
/* news　お知らせ */

aside{
	overflow: hidden;
}

.banner1{
	float: left;
}

.banner2{
	float: right;
}

.footer{
	background-color: #dbdbdb;
	height: 285px;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* フッター背景 */

footer ul li dl{
	color: #555;
	font-family: arial;
}

footer ul li dl dt{
	font-size: 14px;
	line-height: 2;
}

footer ul li dl dd{
	font-size: 12px;
	line-height: 2;
}

.footer dt{
	margin-top: 25px;
}

.sitemap{
	border-bottom: 1px solid #ccc;
	margin-top: 24px;
	margin-bottom: 24px;
}

.sitemap ul li dd{
	text-indent: 1em;
}

.sitemap1{
	width: 210px;
	float: left;
}

.sitemap2{
	width: 210px;
	float: left;
}

.sitemap3{
	width: 210px;
	float: left;
}

.sitemap4{
	width: 210px;
	float: left;
}

.sitemap5{
	float: right;
}
/* サイトマップ */

.address{
	font-size: 12px;
	font-family:"arial";
	color: #555;
	line-height: 1.5;
	float: left;
}
/* 住所 */

.footer-logo_img{
	float: left;
	margin-left: 148px;
}
/* フッターのロゴ */

.icon{
	float: right;
	margin-bottom: 40px;
	float: right;
}

.copy{
	text-align: center;
	font-size: 10px;
	color: #555;
	margin-bottom: 20px;
	margin-top: 14px;
}
/* コピーライト */
