header{
	height: 70px;
	background-color: #112848;
}
/* ヘッダー　背景 */

header img{
	margin: 20px 90px 20px 150px;
	float: left;
}
/* ヘッダー　ロゴ */

body{
	background-color: #fafafa;
	width: 100%;
	font-family: "Garamond";
}
/* 全体の背景・文字*/




nav ul{
	margin-bottom: 26px;
	overflow: hidden;
}
/* メニュー */

nav ul li a:link, nav ul li a:visited{
	width: 130px;
	color: #ddd;
	font-size: 14px;
	font-family: "arial";
	letter-spacing: 1px;
	text-decoration: none;
	display: block;
	float: left;
	margin: 26px 20px 0 0;
}
/* メニュー　文字 */

nav ul li a:hover{
	color: #ae1641;
}
/* メニュー　マウスをのせたとき色が変わる */




.inner{
	width: 950px;
	overflow: hidden;
	margin: 0 auto;
}
/* 全体の枠（w950） */




.pankuzu{
	color: #555;
	font-size: 12px;
	font-family: "arial";
	overflow: hidden;
	background:url(../img/marks.png) left center no-repeat;
	background-position: 43px;
	margin-top: 55px;
}
/* パンくず */

.pankuzu li{
	float: left;
	margin-right: 40px;
}
/* パンくず　一列に並べる */

.pankuzu li:last-child{
	color: #ae1641;
}
/* パンくず　最後は赤色 */




.main_img h2{
	width: 308px;
	color: #555;
	font-size: 24px;
	letter-spacing: 2px;
	border-bottom: double 3px #dbdbdb;
	line-height: 2;
	margin:30px auto 45px;
}
/* スイートルーム */

.main_img{
	text-align: center;
}
/* メイン画像 */

.room-text{
	float: left;
}
/* 部屋説明　左寄せ */

.room-text h3{
	color: #555;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 40px;
}
/* 部屋説明　見出し */

.room-text p{
	width: 500px;
	color: #555;
	font-size: 14px;
	letter-spacing: 0.7px;
	line-height: 1.45;
	margin-top: 20px;
}
/* 部屋説明　文章 */

.room-text p a{
	color: #ae1641;
	font-size: 12px;
	font-family: "arial";
	text-decoration: none;
	background: url(../img/mark.png) left center no-repeat;
}
/* 客室ロケーション */

.room-text p a:hover{
	color: #d04774;
}
/* 客室ロケーション　マウスをのせると色変化 */

.room-gaiyou{
	color: #555;
	font-size: 14px;
	font-family: "arial";
	letter-spacing: 1px;
	line-height: 2;
	float: right;
	margin-top: 43px;
}
/* 部屋詳細　文字、右寄せ */

.room-gaiyou table{
	width: 270px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
/* 部屋詳細　上下ライン */

.room-gaiyou th{
	border-bottom: 1px solid #dbdbdb;
	padding-left: 14px;
}
.room-gaiyou td{
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}
/* 部屋詳細　罫線 */

.room-gaiyou img{
	margin-top: 22px;
}
/* 予約ボタン */

.room-gaiyou img:hover{
	opacity: 0.8;
}




.service-set{
	height: 426px;
	color: #eee;
	background-color: #112848;
	margin-top: 66px;
}
/* サービス　背景と文字 */

.service-set h4{
	font-size: 18px;
	letter-spacing: 1px;
}
/* サービス　大文字 */

.service-set p{
	width: 190px;
	font-size: 13px;
	font-family: "arial";
	letter-spacing: 1px;
	line-height: 1.6;
	margin-top: 10px;
}
/* サービス　小文字 */

.pajama{
	float: left;
	margin: 55px 0 0 40px;
}
/* ナイトウェア */

.pajama img{
	float: left;
}
/* ナイトウェア　画像 */

.pajama_text{
	width: 220px;
	float: left;
	margin-left: 30px;
}
/* ナイトウェア　文章 */

.bath{
	float: right;
	margin: 55px 40px 0 0;
}
/* バスアメニティ */

.bath img{
	float: left;
}
/* バスアメニティ　画像 */

.bath_text{
	width: 220px;
	float: left;
	margin-left: 30px;
}
/* バスアメニティ　文章 */

.makura{
	float: left;
	margin: 35px 0 0 40px;
}
/* まくら */

.makura img{
	float: left;
}
/* まくら　画像 */

.makura_text{
	width: 220px;
	float: left;
	margin-left: 30px;
}
/* まくら　文章 */

.este{
	float: right;
	margin: 35px 40px 0 0;
}
/* マッサージ */

.este img{
	float: left;
}
/* マッサージ　画像 */

.este_text{
	width: 220px;
	float: left;
	margin-left: 30px;
}
/* マッサージ　文章 */




.amenity-set{
	color: #686868;
}
/* アメニティ 文字色 */

.madori{
	float: left;
	margin-top: 75px;
}
/* 間取り図 */

.amenity-set h4{
	font-size: 18px;
	letter-spacing: 1px;
}
/* アメニティ　大文字 */

.amenity-set ul{
	font-size: 12px;
	font-family: "arial";
	letter-spacing: 0.7px;
	line-height: 1.8;
	margin-top: 30px;
}
/* アメニティ　小文字 */

.amenity-set{
	width: 670px;
	height: 239px;
	background-color: #fff;
	border:1px solid #dbdbdb ;
	float: right;
	overflow: hidden;
	margin-top: 100px;
	padding-top: 25px;
}
/* アメニティ　背景ボックス */

.amenity-1{
	float: left;
	margin-left: 50px;
}
/* アメニティ　１列目 */

.amenity-1-2{
	float: left;
	margin: 18px 0 0 10px;
	}
/* アメニティ　２列目 */

.amenity-2{
	float: right;
	border-left: 1px solid #dbdbdb;
	margin: 0px 60px auto 0px;
	padding-left: 30px;
	}
/* アメニティ　３列目 */




.other-room h3{
	color: #555;
	font-size: 18px;
	text-align: center;
	border-top: double 3px #dbdbdb;
	margin:75px auto 45px;
	padding-top: 35px;
}
/* その他の部屋 */

.other-room a{
	color: #555;
	font-family: "arial";
	font-size: 12px;
	text-decoration: none;
}
/* その他の部屋　文字 */

.other-room li{
	width: 200px;
	height: 80px;
	background-color: #f1f1f1;
}
/* その他の部屋　背景 */

.other-room img{
  vertical-align: middle;
  margin-right: 20px;
}
/* その他の部屋　文字を真ん中にする */

.single{
	float: left;
}
/* シングル */

.double{
	float: left;
	margin-left: 50px;
}
/* ダブル */

.twin{
	float: left;
	margin-left: 50px;
}
/* ツイン */

.free{
	float: right;
}
/* バリアフリー */




.footer{
	height: 285px;
	background-color: #dbdbdb;
	margin: 50px 0 20px;
}
/* フッター背景 */

.sitemap dl{
	color: #555;
	font-family: "arial";
}
/* サイトマップ　文字全体 */

.sitemap dt{
	font-size: 14px;
	line-height: 2;
	margin-top: 25px;
}
/* サイトマップ　見出し文字 */

.sitemap a{
	color: #555;
	font-size: 12px;
	text-decoration: none;
	line-height: 2;
}
/* サイトマップ　小文字 */

.sitemap dd{
	text-indent: 1em;
	background: url(../img/sankaku.png) left center no-repeat;
}
/* サイトマップ　小矢印 */

.sitemap{
	border-bottom: 1px solid #ccc;
	margin: 24px 0;
}
/* サイトマップの下の線 */

.sitemap1{
	width: 200px;
	float: left;
}

.sitemap2{
	width: 205px;
	float: left;
}

.sitemap3{
	width: 215px;
	float: left;
}

.sitemap4{
	width: 200px;
	float: left;
}

.sitemap5{
	float: right;
}
/* サイトマップ */



.address{
	color: #555;
	font-size: 12px;
	font-family:"arial";
	line-height: 1.5;
	float: left;
}
/* 住所 */

.footer-logo_img{
	float: left;
	margin-left: 148px;
}
/* フッターのロゴ */

.icon{
	float: right;
	margin-bottom: 40px;
}
/* SNSアイコン */

.copy{
	color: #666;
	font-size: 10px;
	font-family: "arial";
	text-align: center;
	margin-top: 14px;
	padding-bottom: 14px;
}
/* コピーライト */
